*, *::after, *::before{
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(249, 250, 251);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes search_keyframe {
  from {
    height: 0;
  }

  to {
      height: 100%;
  }
}

@keyframes search_keyframe1 {
  from {
    height: 100%;
  }

  to {
      height: 0;
  }
}

.open-search {
  animation-name: search_keyframe;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.close-search {
  animation-name: search_keyframe1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* ::-webkit-scrollbar {
  background-color: hsl(235, 24%, 19%);
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsla(235, 21%, 11%, 0.322);
  box-shadow: 0 0 3px hsl(235, 21%, 11%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(235, 21%, 11%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(220, 98%, 61%);
} */
